= f.fields_for :task_labels do |t|
  = t.label :label_id, "ラベル", class: "label-control"
  = t.collection_select :label_id, Label.all, :id, :name, { multiple: true, include_blank: true }, class: "form-control select-label-form"
  p.selected-labels.mt10
