<header id="page-header">
  <h1>Ashita-Team Tasks</h1>
</header>
<div id="content" class="padding-20">
  <div class="panel panel-default">
    <div class="panel-heading">
							<span class="title elipsis">
								<strong>HOVER TABLE</strong> <!-- panel title -->
							</span>

      <!-- right options -->
      <ul class="options pull-right list-inline">
        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
      </ul>
      <!-- /right options -->

    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered nomargin">
          <thead>
          <tr>
            <th>#</th>
            <th>Task name</th>
            <th>Deadline</th>
            <th>Priority</th>
            <th>Manage</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @tasks.each_with_index do |task, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= task.title %></td>
            <td><%= task.dead.strftime("%Y/%m/%d") %></td>
            <td><%= task.priority %></td>
            <td><span class="label label-success">Approved </span></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
