<aside id="aside">
  <nav id="sideNav"><!-- MAIN MENU -->
    <ul class="nav nav-list">
      <li><!-- dashboard -->
        <%= link_to tasks_path, class: "dashboard" do %>
          <i class="fa fa-tasks"></i>
          <span> Tasks</span>
        <% end %>
      </li>
      <li><!-- dashboard -->
        <%= link_to new_task_path, class: "dashboard" do %>
          <i class="fa fa-plus"></i>
          <span> Create</span>
        <% end %>
      </li>
    </ul>

  </nav>

  <span id="asidebg"><!-- aside fixed background --></span>
</aside>
