$base_color: #F3F3F4;
$main_color: #C9FDD7;
$accent: #79D1C3;
$pr_color: #6892D5;
$admin_base: #226B80;

@for $i from 0 through 30 {
  .mt#{$i * 5} {
    margin-top:#{$i * 5}px !important;
  }
  .mb#{$i * 5} {
    margin-bottom:#{$i * 5}px !important;
  }
  .pt#{$i * 5} {
    padding-top:#{$i * 5}px !important;
  }
  .pb#{$i * 5} {
    padding-bottom:#{$i * 5}px !important;
  }
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.primary-btn {
  background-color: $accent;
  color: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.primary-btn-block {
  display: block;
  width: 100%;
  background-color: $accent;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.validate-label {
  color: $accent;
  font-size: 12px;
  border: 2px solid $accent;
  padding: 2px 5px;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


