$base_color: #F3F3F4;
$main_color: #C9FDD7;
$accent: #79D1C3;
$pr_color: #6892D5;
$admin_base: #226B80;

//$base_color: #fffcef;
//$main_color: #d2ebcd;
//$accent: #ff7f5b;
//$pr_color: #393939;

@for $i from 0 through 30 {
  .mt#{$i * 5} {
    margin-top:#{$i * 5}px !important;
  }
  .mb#{$i * 5} {
    margin-bottom:#{$i * 5}px !important;
  }
  .ml#{$i * 5} {
    margin-left:#{$i * 5}px !important;
  }
  .mr#{$i * 5} {
    margin-right:#{$i * 5}px !important;
  }
  .pt#{$i * 5} {
    padding-top:#{$i * 5}px !important;
  }
  .pb#{$i * 5} {
    padding-bottom:#{$i * 5}px !important;
  }
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: $base_color;
}

.text-red {
  color: #ff4646;
}

.main-btn {
  background-color: $accent;
  color: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.default-btn {
  background-color: #fff;
  color: #ccc;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #ccc;
  cursor: pointer;
}
.sub-btn {
  background-color: $main_color;
  color: $pr_color;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    color: $pr_color;
  }
}
.main-btn-block {
  display: block;
  width: 100%;
  background-color: $accent;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sub-btn-block {
  display: block;
  width: 100%;
  background-color: $base_color;
  color: $pr_color;
  text-align: center;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &:hover {
    color: $pr_color;
  }
}
.default-btn-block {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #ccc;
  text-align: center;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #ccc;
  &:hover {
    color: #ccc;
  }
}
.validate-label {
  color: $accent;
  font-size: 12px;
  border: 2px solid $accent;
  padding: 2px 5px;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.default-label-green {
  font-size: 9px;
  margin-top: 5px;
  margin-right: 4px;
  padding: 2px 3px;
  color: $accent;
  border: solid 1px $accent;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.label-success {
  background-color: $accent !important;
}
.selected-label-green {
  font-size: 9px;
  margin-top: 5px;
  margin-right: 4px;
  padding: 2px 3px;
  color: $pr_color;
  background-color: $main_color;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.display-none {
  display: none;
}
.detail-toggle-btn {
  cursor: pointer;
}
.data-tbody tr	{
  cursor:pointer;
}
.data-tbody tr:hover {
  background: $base_color;
}
.small-text {
  font-size: 12px;
}
