.groups-user-img {
  cursor: pointer;
  position: relative;

  .user-info {
    display: none;
    width: 80px;
    height: 80px;
    background-color: rgba(68, 68, 68, 0.5);
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
