* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $base_color !important;
}
#wrapper {
  position: relative;
}
#content {
  width: 100%;
  padding-top: 60px !important;
  padding-left: 20% !important;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none !important;
}


