.task-status-labels label{
  margin-right: 3px !important;
}
.users-show_image {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}
.data-tbody tr	{
  cursor:pointer;
}
.data-tbody tr:hover {
  background: $base_color;
}
.small-text {
  font-size: 12px;
}
#calendar {
  td {
    cursor: pointer;
  }
}
