<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <div id="wrapper">
      <%= render 'sidebar' %>
      <section id="middle">
        <%= yield %>
      </section>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
